{% extends 'login/master.html' %}

{% block content %}

<div class="form">
  <div class="frame-4">
    <div class="institute-email">Institute email</div>
    <div class="rectangle"></div>
    <div class="example-iitdh-ac-in">example@iitdh.ac.in</div>
  </div>
  <div class="frame-5">
    <div class="otp">OTP</div>
    <div class="rectangle"></div>
    <div class="div">*************</div>
  </div>
  <div class="frame-6">
    <div class="new-password">New Password</div>
    <div class="rectangle"></div>
    <div class="div">*************</div>
  </div>
  <div class="frame-3">
    <div class="done">Done</div>
  </div>
</div>

{% endblock %}

{% block css %}

<style>

.form,
.form * {
  box-sizing: border-box;
}
.form {
  background: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-width: 1px;
  padding: 48px 49px 48px 49px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.institute-email {
  color: #212529;
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  width: 110px;
}
.rectangle {
  background: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-color: #ced4da;
  border-width: 1px;
  flex-shrink: 0;
  width: 526px;
  height: 38px;
  position: relative;
}
.example-iitdh-ac-in {
  color: #898989;
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 11px;
  top: 40px;
}
.frame-5 {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.otp {
  color: #212529;
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  width: 110px;
}
.div {
  color: #898989;
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 11px;
  top: 40px;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.new-password {
  color: #212529;
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  width: 110px;
}
.frame-3 {
  background: #4154f1;
  border-radius: 4px;
  padding: 7px 15px 7px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.done {
  color: #ffffff;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}

</style>

{% endblock %}