{% extends 'reuse/basic.html' %}

{% load static %}

{% block title %} SAMS Title  {% endblock %}

{% block css %}

<style>

  .content,
  .content * {
    box-sizing: border-box;
  }
  
  .content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
    overflow: hidden;
  }
  
  .bread-crumb {
    align-self: stretch;
    flex-shrink: 0;
    height: 50px;
    position: relative;
    overflow: hidden;
  }
  
  .profile3 {
    color: #4154f1;
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 600;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .ol {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
    top: 28.8px;
  }
  
  .home {
    color: #989797;
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .li {
    padding: 0px 0px 0px 8px;
    display: flex;
    flex-direction: row;
    gap: 7.17px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  
  .div {
    color: #989797;
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .profile2 {
    color: #444444;
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
    
  .group-9 {
    width: 1175px;
    height: 110px;
    position: fixed;
    left: 368px;
    top: 181px;
  }
  .div2 {
    background: #ffffff;
    border-radius: 5px;
    padding: 26px 16px 26px 16px;
    display: flex;
    flex-direction: row;
    gap: 200px;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
  }
  .div3 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .state {
    background: #ffffff;
    border-radius: 6px;
    border-style: solid;
    border-color: #ced4da;
    border-width: 1px;
    flex-shrink: 0;
    height: 58px;
    position: relative;
  }
  .image {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 13px;
    top: calc(50% - 6px);
    overflow: visible;
  }
  .div4 {
    padding: 0px 42px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 13px;
    top: calc(50% - 2px);
    overflow: hidden;
  }
  .advance-java {
    color: #212529;
    text-align: left;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .label {
    opacity: 0.65;
    padding: 12.3px 89.35px 13px 11.05px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: absolute;
    right: 14.56px;
    left: -5.9599609375px;
    bottom: 15.5px;
    top: -6.800048828125px;
    overflow: hidden;
  }
  .subject {
    color: #444444;
    text-align: left;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .image2 {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 13px;
    top: calc(50% - 6px);
    overflow: visible;
  }
  .a {
    color: #212529;
    text-align: left;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .label2 {
    opacity: 0.65;
    padding: 12.3px 89.35px 13px 11.05px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: absolute;
    left: calc(50% - 87.96px);
    bottom: 15.5px;
    top: -6.800048828125px;
    overflow: hidden;
  }
  .section {
    color: #444444;
    text-align: left;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .image3 {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 13px;
    top: calc(50% - 6px);
    overflow: visible;
  }
  ._2023-03-15 {
    color: #212529;
    text-align: left;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .label3 {
    opacity: 0.65;
    padding: 12.3px 89.35px 13px 11.05px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: absolute;
    left: calc(50% - 78.46px);
    bottom: 15.5px;
    top: -6.800048828125px;
    overflow: hidden;
  }
  .date {
    color: #444444;
    text-align: left;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .custom-button {
    width: auto; /* Full width */
    height: 40px;
    padding: 10px; /* Padding */
    background-color: #3c4ef1; /* Background color */
    color: #ffffff; /* Text color */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    font-family: "Roboto-Regular", sans-serif; /* Match font */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer on hover */
    transition: background-color 0.3s; /* Transition effect */
  }
  
  .custom-button:hover {
    background-color: #5f6ef1; /* Lighter background on hover */
  }

  /*test*/

  .content-wrap {
    display: flex;
    flex-direction: row;
    row-gap: 25px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }
  .div2 {
    background: #ffffff;
    border-radius: 5px;
    padding: 26px 16px 26px 16px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-shrink: 0;
    width: auto;
    position: relative;
  }
  .course-select {
    border-radius: 8px;
    border-style: solid;
    border-color: #ced4da;
    border-width: 1px;
    padding: 15px 20px 15px 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .col-1 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }
  .subject {
    color: #989797;
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .advance-java {
    color: #444444;
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .vector {
    flex-shrink: 0;
    width: 19px;
    height: 14.5px;
    position: relative;
    overflow: visible;
  }
  .date {
    color: #989797;
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  ._24-02-2005 {
    color: #444444;
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .vector2 {
    flex-shrink: 0;
    width: 19px;
    height: 14.5px;
    position: relative;
    overflow: visible;
  }
  .frame-31 {
    background: #4154f1;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    cursor: pointer; /* Pointer on hover */
  }
  .generate-sheet {
    color: #ffffff;
    text-align: left;
    font-family: "Nunito", sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    cursor: pointer; /* Pointer on hover */
    transition: background-color 0.3s; /* Transition effect */
  }
  .frame-31:hover {
    background-color: #5f6ef1; /* Lighter background on hover */
  }
  .frame-30 {
    background: #ffffff;
    padding: 50px 150px 50px 150px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }
  

</style>
  
   {% endblock %}

   {% block content %}

  <div class="content">
    <div class="bread-crumb">
      <div class="profile3">Attendance</div>
      <div class="ol">
          <div class="home">Track</div>
          <div class="li">
              <div class="div">/</div>
              <div class="profile2">Courses</div>
              <div class="div">/</div>
              <div class="profile2">Attendance</div>
          </div>
      </div>
  </div>
   

   <div class="content-wrap">
    <div class="div2">
      <div class="course-select">
        <div class="col-1">
          <div class="subject">Subject</div>
          <div class="advance-java">Advance Java</div>
        </div>
        <img class="vector" src="{% static 'teacher/image1.svg' %}" />
      </div>
      <div class="course-select">
        <div class="col-1">
          <div class="subject">Section</div>
          <div class="advance-java">A</div>
        </div>
        <img class="vector" src="{% static 'teacher/image1.svg' %}" />
      </div>
      <div class="course-select">
        <div class="col-1">
          <div class="date">Date</div>
          <div class="_24-02-2005">24-02-2005</div>
        </div>
        <img class="vector2" src="{% static 'teacher/image1.svg' %}" />
      </div>
      <div class="frame-31">
        <button class="generate-sheet" onclick="window.location.href='{% url 'teacher/courses/courses_attendance/take_attendance' %}'" >Generate Sheet</button>
      </div>
    </div>
  </div>
   </div>
  {% endblock %}