.student-profile,
.student-profile * {
  box-sizing: border-box;
}
.student-profile {
  background: #f6f9ff;
  padding: 10px;
  height: 900px;
  position: relative;
  overflow: hidden;
}
.student-sidebar {
  background: #ffffff;
  width: 300px;
  height: 840px;
  position: absolute;
  left: 0px;
  top: 60px;
  box-shadow: 0px 0px 20px 0px rgba(1, 41, 112, 0.1);
  overflow: hidden;
}
.frame-28 {
  width: 1350px;
  height: 843px;
  position: absolute;
  left: 300px;
  top: 0px;
  overflow: hidden;
}
.ul-sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 20px;
  top: 20px;
}
.a-nalyze {
  color: #899bbd;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 11px;
  line-height: 16.5px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.a {
  background: #ffffff;
  border-radius: 4px;
  flex-shrink: 0;
  width: 260px;
  height: 44px;
  position: relative;
}
.material-symbols-table-chart-view-outline-rounded {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 9px;
  top: 11px;
  overflow: visible;
}
.dashboard {
  color: #00389a;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 600;
  position: absolute;
  left: 41px;
  top: 10.75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.report {
  color: #012970;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 600;
  position: absolute;
  left: 41px;
  top: 10.75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.carbon-report {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.manage {
  color: #899bbd;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 11px;
  line-height: 16.5px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div {
  color: #899bbd;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 14px;
  width: 16.2px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.profile {
  color: #012970;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 600;
  position: absolute;
  left: 41px;
  top: 10.75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ph-student-bold {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 8px;
  top: 9px;
  overflow: visible;
}
.exit {
  color: #899bbd;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 11px;
  line-height: 16.5px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.a2 {
  background: #ffffff;
  border-radius: 4px;
  flex-shrink: 0;
  width: 260px;
  height: 43px;
  position: relative;
}
.logout {
  color: #012970;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 600;
  position: absolute;
  left: 41px;
  top: 10.75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon-park-outline-logout {
  width: 19px;
  height: 19px;
  position: absolute;
  left: 11px;
  top: 14px;
  overflow: visible;
}
.ta-section {
  color: #899bbd;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 11px;
  line-height: 16.5px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.take-attendance {
  color: #012970;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 600;
  position: absolute;
  left: 41px;
  top: 10.75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lucide-file-spreadsheet {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 10px;
  top: 10px;
  overflow: hidden;
}
.group {
  width: 66.67%;
  height: 83.33%;
  position: absolute;
  right: 16.67%;
  left: 16.67%;
  bottom: 8.33%;
  top: 8.33%;
  overflow: visible;
}
.profile2 {
  width: 564px;
  height: 540px;
  position: absolute;
  left: 368px;
  top: 108px;
}
.form {
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 67.78%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 15.93%;
  top: 16.3%;
  box-shadow: 0px 0px 30px 0px rgba(1, 41, 112, 0.1);
}
.div2 {
  padding: 20px 12px 20px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.add-a-subject {
  color: #012970;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 533px;
  height: 70px;
  position: relative;
}
.div4 {
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  width: 540px;
  position: relative;
}
.subject-name {
  color: #444444;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input-input-password-5 {
  background: #ffffff;
  border-radius: 6px;
  border-style: solid;
  border-color: #ced4da;
  border-width: 1px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 36px;
  position: relative;
}
.name {
  color: #6c757d;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div5 {
  flex-shrink: 0;
  width: 540px;
  height: 70px;
  position: relative;
}
.old-password {
  color: #444444;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 8px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input-input-address-2 {
  background: #ffffff;
  border-radius: 6px;
  border-style: solid;
  border-color: #ced4da;
  border-width: 1px;
  padding: 7px 12px 7px 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 9px;
  left: 9px;
  top: 33px;
}
.div-placeholder {
  padding: 0px 298px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.assign-a-teacher {
  color: #6c757d;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.new-password {
  color: #444444;
  text-align: left;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 8px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div6 {
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button {
  background: #0d6efd;
  border-radius: 6px;
  border-style: solid;
  border-color: #0d6efd;
  border-width: 1px;
  padding: 7px 12.94px 7px 13px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.submit {
  color: #ffffff;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button2 {
  background: #6c757d;
  border-radius: 6px;
  border-style: solid;
  border-color: #6c757d;
  border-width: 1px;
  padding: 7px 13.17px 7px 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.reset {
  color: #ffffff;
  text-align: center;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bread-crumb {
  width: 98.94%;
  height: 9.26%;
  position: absolute;
  right: 0%;
  left: 1.06%;
  bottom: 90.74%;
  top: 0%;
}
.student {
  color: #4154f1;
  text-align: left;
  font-family: "Nunito-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ol {
  width: 564px;
  height: 21px;
  position: absolute;
  left: 0px;
  top: 29px;
}
.manage2 {
  color: #989797;
  text-align: left;
  font-family: "Nunito-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.li {
  padding: 0px 0px 0px 8px;
  display: flex;
  flex-direction: row;
  gap: 7.17px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 121px;
  top: -0.8px;
}
.div7 {
  color: #989797;
  text-align: left;
  font-family: "Nunito-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.add-student {
  color: #444444;
  text-align: left;
  font-family: "Nunito-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.li2 {
  padding: 0px 0px 0px 8px;
  display: flex;
  flex-direction: row;
  gap: 7.17px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 51px;
  top: 0.2px;
}
.student2 {
  color: #989797;
  text-align: left;
  font-family: "Nunito-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer {
  width: 1648px;
  height: 49px;
  position: absolute;
  left: 0px;
  top: 851px;
}
.rectangle-20 {
  background: #a0aaf8;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.header {
  background: #ffffff;
  padding: 9px 20px 9px 20px;
  width: 100%;
  height: 60px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 0px;
  box-shadow: 0px 2px 20px 0px rgba(1, 41, 112, 0.1);
}
.div8 {
  padding: 7px 20px 7px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 9px;
}
.sams {
  color: #012970;
  text-align: left;
  font-family: "Nunito-Bold", sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.span {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: calc(50% - 11.5px);
}
.name2 {
  color: #012970;
  text-align: left;
  font-family: "OpenSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
